Repository Icinga/icinga-vagrant, pull requests merged in 2018-03, with the labels that each got.

#130 Icinga Web 2 Profile: Add support for community themes (available in standalone box)
  .puppet/modules/profiles/manifests/base/system.pp
  .puppet/modules/profiles/manifests/icinga/icingaweb2.pp
  .puppet/modules/wget/.fixtures.yml
  .puppet/modules/wget/.gitattributes
  .puppet/modules/wget/.gitignore
  .puppet/modules/wget/.rspec
  .puppet/modules/wget/.rubocop.yml
  .puppet/modules/wget/.rubocop_todo.yml
  .puppet/modules/wget/.travis.yml
  .puppet/modules/wget/CHANGELOG.md
  .puppet/modules/wget/CONTRIBUTING.md
  .puppet/modules/wget/Gemfile
  .puppet/modules/wget/LICENSE
  .puppet/modules/wget/MAINTAINERS.md
  .puppet/modules/wget/NOTICE
  .puppet/modules/wget/README.md
  .puppet/modules/wget/Rakefile
  .puppet/modules/wget/appveyor.yml
  .puppet/modules/wget/data/common.yaml
  .puppet/modules/wget/examples/init.pp
  .puppet/modules/wget/hiera.yaml
  .puppet/modules/wget/locales/config.yaml
  .puppet/modules/wget/manifests/config.pp
  .puppet/modules/wget/manifests/init.pp
  .puppet/modules/wget/manifests/install.pp
  .puppet/modules/wget/manifests/retrieve.pp
  .puppet/modules/wget/metadata.json
  .puppet/modules/wget/spec/acceptance/class_spec.rb
  .puppet/modules/wget/spec/acceptance/nodesets/centos-7-x64.yml
  .puppet/modules/wget/spec/acceptance/nodesets/debian-8-x64.yml
  .puppet/modules/wget/spec/acceptance/nodesets/default.yml
  .puppet/modules/wget/spec/acceptance/nodesets/docker/centos-7.yml
  .puppet/modules/wget/spec/acceptance/nodesets/docker/debian-8.yml
  .puppet/modules/wget/spec/acceptance/nodesets/docker/ubuntu-14.04.yml
  .puppet/modules/wget/spec/acceptance/nodesets/docker/ubuntu-16.04.yml
  .puppet/modules/wget/spec/acceptance/retrieve_spec.rb
  .puppet/modules/wget/spec/classes/contains_spec.rb
  .puppet/modules/wget/spec/classes/wget_spec.rb
  .puppet/modules/wget/spec/defines/retrieve_spec.rb
  .puppet/modules/wget/spec/spec_helper.rb
  .puppet/modules/wget/spec/spec_helper_acceptance.rb
  .puppet/modules/wget/spec/spec_helper_local.rb
  README.md
  doc/screenshot/vagrant_icingaweb2_theme_unicorn.png
  standalone/environments/vagrant/manifests/default.pp
Labels: enhancement, icingaweb2, puppet

#133 Graphite: Update to 1.1.2
  .puppet/hieradata/common.yaml
  .puppet/modules/profiles/manifests/graphite/server.pp
Labels: enhancement, graphite

#134 Provide Icinga Web 2 dashboards for map, cube, businessprocess
  .puppet/modules/profiles/manifests/icinga/icingaweb2.pp
  .puppet/modules/profiles/templates/icinga/icingaweb2/modules/businessprocess/dashboard.ini.erb
  .puppet/modules/profiles/templates/icinga/icingaweb2/modules/cube/dashboard.ini.erb
  .puppet/modules/profiles/templates/icinga/icingaweb2/modules/map/dashboard.ini.erb
Labels: enhancement, icingaweb2, puppet

#136 Added random icons for map markers
  .puppet/modules/profiles/templates/icinga/icinga2/config/demo/maps.conf.erb
Labels: enhancement, icingaweb2

#142 Hiera configures the primary listen interface, no magic ifname lookup anymore
  .puppet/hieradata/common.yaml
  .puppet/hieradata/node/icinga2-elastic.vagrant.demo.icinga.com.yaml
  .puppet/hieradata/node/icinga2-graylog.vagrant.demo.icinga.com.yaml
  .puppet/hieradata/node/icinga2-influxdb.vagrant.demo.icinga.com.yaml
  .puppet/hieradata/node/icinga2-master1.vagrant.demo.icinga.com.yaml
  .puppet/hieradata/node/icinga2-satellite1.vagrant.demo.icinga.com.yaml
  .puppet/hieradata/node/icinga2.vagrant.demo.icinga.com.yaml
  distributed/Vagrantfile.nodes
  elastic/Vagrantfile.nodes
  graylog/Vagrantfile.nodes
  influxdb/Vagrantfile.nodes
  standalone/Vagrantfile.nodes
Labels: bug, provider, puppet

#143 Update to Puppet 5 as provisioner
  .puppet/scripts/shell_provisioner_pre.sh
Labels: enhancement, provisioner, puppet

#144 Enable director, cube, bp, maps modules in Icinga Web 2 on all standalone boxes
  distributed/environments/vagrant/manifests/default.pp
  elastic/environments/vagrant/manifests/default.pp
  graylog/environments/vagrant/manifests/default.pp
  influxdb/environments/vagrant/manifests/default.pp
  standalone/environments/vagrant/manifests/default.pp
Labels: enhancement, icingaweb2

#145 Enable Icinga Web 2 doc module for developer icons
  .puppet/modules/profiles/manifests/icinga/icingaweb2.pp
Labels: icingaweb2, puppet
