Repository Icinga/icinga-vagrant, pull requests merged in 2019-06, with the labels that each got.

#186 Make Director a first class citizen by default
  .puppet/modules/profiles/manifests/icinga/icingaweb2.pp
  elastic/environments/vagrant/manifests/default.pp
  graylog/environments/vagrant/manifests/default.pp
  influxdb/environments/vagrant/manifests/default.pp
  standalone/environments/vagrant/manifests/default.pp
Labels: area/icingaweb2, enhancement

#185 Integrate certificate monitoring module
  .puppet/hieradata/common.yaml
  .puppet/modules/profiles/manifests/base/mysql.pp
  .puppet/modules/profiles/manifests/icinga/icingaweb2.pp
  .puppet/modules/profiles/templates/icinga/icinga2/config/demo/hosts.conf.erb
  .puppet/modules/profiles/templates/icinga/icingaweb2/modules/x509/jobs.ini.erb
  README.md
  doc/screenshot/vagrant_icingaweb2_certificates.png
  elastic/environments/vagrant/manifests/default.pp
  graylog/environments/vagrant/manifests/default.pp
  influxdb/environments/vagrant/manifests/default.pp
  standalone/environments/vagrant/manifests/default.pp
Labels: area/icingaweb2, enhancement

#188 Reporting: Update to 0.9.1
  .puppet/hieradata/common.yaml
Labels: area/icingaweb2

#189 Icinga2: Add director-global zone
  .puppet/modules/profiles/manifests/icinga/icinga2.pp
Labels: area/icinga2
